@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Righteous&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  background-color: rgb(18, 18, 18);
  font-family: "Inconsolata", monospace;
}

#main {
  background-color: rgb(22, 22, 22);
  border-left: solid gray;
  border-bottom: solid gray;
  border-width: 1px;
  padding: 20px;
  max-height: 500px;
  width: 80vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  transition-property: max-height;
  transition-duration: 5s;
  transition-timing-function: linear;
}
#main::-webkit-scrollbar {
  background-color: black;
  width: 1.5vw;
}
#main::-webkit-scrollbar-thumb {
  background-color: rgb(22, 22, 22);
  border-radius: 5px;
  border: 1px black solid;
}

#head {
  background-color: black;
  width: 90%;
  height: 80px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 20px black;
}

.input {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  margin-right: 10px;
  font-weight: 600;
  outline: none;
  font-family: "Righteous", cursive;
  font-weight: 300;
}
button {
  cursor: pointer;
}
.input::placeholder {
  color: rgba(0, 0, 0, 0.672);
}
input {
  width: 60vw;
}
.content {
  background-color: black;
  height: auto;
  margin: 10px;
  width: 90%;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* overflow: hidden; */
  position: relative;

}
#options {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  right: 5px;
}
.toggle {
  width: 60px;
  border-radius: 25px;
  height: 30px;
  background-color: rgb(22, 22, 22);
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.icon {
  width: 28px;
  height: 28px;
  background-color: black;
  border-radius: 20px;
  animation-duration: 150ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes toggleOn {
  0% {
  }
  100% {
    transform: translateX(110%);
  }
}
@keyframes toggleOff {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes effectRemove {
  0% {
  }
  50% {
    transform: rotateZ(5deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

img {
  cursor: pointer;
}

img::selection {
  background-color: transparent;
}

p {
  text-shadow: 0px 0px 10px white;
}
.divP {
  width: 80%;
  max-height: auto;
  overflow: hidden;
  /* background-color: red; */
  word-wrap:normal;
  text-align: start;
}
headeR {
  color: white;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 765px) {
  #main {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  #head {
    width: 100%;
    flex-direction: column;
    row-gap: 10px;
    height: auto;
  }
  input
  button {
    height: 20px;
    padding: 5px;
  }
  input::placeholder{
    font-size:calc(0.5em + 1.5vw);
  }
  button {
    display: flex;
    align-items: center;
  }

  .content {
    width: calc(100% - 20px);
  }
  .divP {
    font-size: calc(0.5em + 2vw);
  }
  #options {
    position: static;
  }
  #bin {
    width: 20px;
  }
  .toggle {
    width: 30px;
    height: 15px;
  }
  .icon {
    width: 14px;
    height: 14px;
  }
  header {
    flex-direction: column;
    width: calc(100%);
    font-size:calc(0.5em + 2vw);
    text-align: center;
  }
}
